### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
# Bỏ qua thư mục cấu hình của IntelliJ IDEA
.idea/
*.iml

# Bỏ qua file hệ thống và các thư mục build
*.class
*.log
out/
build/

# Đảm bảo chỉ push mã nguồn
!src/


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store